.color-darkgreen {
    color: darkgreen;
}
.color-deepskyblue {
    color: deepskyblue;
}
.color-lime {
    color: lime;
}
.color-maroon {
    color: maroon;
}
.color-navy {
    color: navy;
}
.color-navajowhite {
    color: navajowhite;
}
.color-purple {
    color: purple;
}
.color-salmon {
    color: salmon;
}
.color-springgreen {
    color: springgreen;
}
